exclude: assets/built|\.min\.
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: local
  hooks:
  -   id: build
      name: gulp build
      entry: gulp build
      language: system
      pass_filenames: false
      types_or: [css, image, javascript, handlebars]
